#titre {
    margin-left: 300px;
}

#corps {
    margin-left: 300px;
}

.rechercher {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14px;
    font-weight: 100;
    padding: 7px;
    background-color: #159517;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .rechercher:hover {
    background: #8BE372;
    border: solid #FFFFFF 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }