
.title{
    margin-top: 50px;
    color: #BED3C3;
    font-style : normal;
    font-family: sans-serif;
    font-variant: small-caps;

}

#btn3{
    display: block;
    margin: auto; 
    text-align: center;
}
