#titre{
    color: #BED3C3;
    font-style : normal;
    font-family: sans-serif;
    font-variant: small-caps;
    display: block;
    margin: auto;
    text-align: center;
    
}

#btn3{
    display: block;
    margin: auto; 
    text-align: center;
}

#center{
    margin-top: 50vh;
    transform: translateY(-50%);
}
